<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <link href="~/admin-assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/admin-assets/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/admin-assets/css/icons.min.css" rel="stylesheet" />
    <link href="~/admin-assets/css/metisMenu.min.css" rel="stylesheet" />
    <link href="~/admin-assets/css/app.min.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required:false)
</head>

<body>
    <!-- leftbar-tab-menu -->
    @Html.Partial("_leftbar-tab-menu")
    <!-- end leftbar-tab-menu-->
    <!-- Top Bar Start -->
    @Html.Partial("_top-bar")
    <!-- Top Bar End -->

    <div class="page-wrapper">
        <!-- Page Content-->
        <div class="page-content-tab">
            <!-- main container -->
            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- end container -->
            <!-- right bar -->
            @Html.Partial("_right-bar")
            <!-- end right bar -->
            <!--footer-->
            @Html.Partial("_footer")
            <!--end footer-->
        </div>
        <!-- end page content -->
    </div>
    <!-- end page-wrapper -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", false)
    <!-- app.js -->
    @Scripts.Render("~/Scripts/app.js")
</body>
</html>